/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.footer-logo img {
  width: 60px;
}
.footer-menu ul {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-address {
  text-align: right;
}
.footer.rs{
  text-align: right;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer.menu ul {
    flex-direction: column;
    margin-top: 10px;
  }

  .footer.address,
  .footer.rs {
    text-align: left;
    margin-top: 10px;
  }
}