/* HEADER */
body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

/* LOGO */
.logo {
    height: 50px;
}

/* MENU */
.menu {
    display: flex;
    gap: 100px;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 20px;
}

.menu a:hover {
    background-color: #2f4f5f;
    border-radius: 20px;
    color: white;
    padding: 8px 16px;
}

/* ZONE DROITE */
.header-droit {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* TELEPHONE */
.phone {
    background-color: #2f4f5f;
    color: white;
    padding: 8px 14px;
    border-radius: 20px;
}

/* BOUTON CONTACT */
.contact {
    background-color: #2f4f5f;
    color: white;
    padding: 8px 18px;
    border-radius: 20px;
}


/* PAGE HISTOIRE */
.histoire {
    width: 90%;
    margin: auto;
}

/* Aï-Ki-Do */
.aikido-mots {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 50px;
}

.aikido-mots h2 {
    font-size: 90px;
    margin-bottom: 5px;
       
}

.aikido-mots p {
    font-size: 14px;

}


h3 {
    font-family: 30px;
    text-align: center;
    justify-content: space-around;
}
.fondateur-contenu {
    display: flex;
    gap: 40px;
}

.fondateur img {
    width: 250px;
    height: 250px;
}

.texte-histoire{
text-align:justify;
}

.fondateur{
text-align:justify;
}

/* ===== GRADES – DESIGN SOBRE NOIR & BLANC AVEC HOVER ===== */

.grades-section {
    margin: 80px 0;
}

/* Grille : 6 cartes sur une ligne */
.grade-grille {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 40px;
}

/* Carte */
.carte {
    background-color: #000; /* fond noir */
    color: #fff; /* texte blanc */
    border: 1px solid #000;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 260px;
    transition: all 0.3s ease; /* transition pour hover */
}

/* Hover : fond blanc, texte noir, léger zoom */
.carte:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.03);
}

/* Titre */
.carte-header {
    margin-bottom: 20px;
}

.carte-header h3 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

/* Texte */
.carte-body p {
    font-size: 14px;
    line-height: 1.6;
}
