/* Footer principal */
footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  flex-wrap: wrap; 
}
.footer-logo img {
  width: 50px; 

}
.footer-address {
  margin-bottom: 8px;
}

.footer-logo,
.footer-logo {
  display: flex;
  align-items: center;
}

/* Regroupement droite */
.footer-address,
.footer-rs {
  text-align: right;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-menu ul {
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
  }

  .footer-address,
  .footer-rs {
    text-align: left;
    margin-top: 10px;
  }
}
